[defaults]
inventory = inventory.ini
roles_path = roles
host_key_checking = False
timeout = 30
local_tmp = /tmp/ansible-local
retry_files_enabled = False
interpreter_python = auto_silent

[persistent_connection]
connect_timeout = 30
command_timeout = 120
control_path_dir = /tmp/ansible-pc
